.right
  %ul.navbar#menu
    %li= link_to 'Batches',  batches_path
    %li= link_to 'Checking', checks_path
    %li= link_to 'Journal Entries', journal_entries_path
    %li= link_to 'Accounts', accounts_path
    %li= link_to 'Reports',  reports_path
    - if logged_in?
      %li= link_to 'Log Out', logout_path
    - else
      %li= link_to 'Log In',  login_path
