= javascript_include_tag 'batches'
.batch
  %h2
    Batch Date
    = @batch.date.to_s
  = toolbar

  .summary
    = render :partial => 'summary', :object => [@batch]
  .errors= error_messages_for :check

  - unless @batch.finalized  
    - the_url = @batch ? batch_checks_path(@batch) : checks_path.to_s    
    - form_for :check, @check, :url => the_url do |f|
      = render :partial => 'new_batch_check', :locals => { :f => f }
      %span= f.hidden_field( :batch_id, :value => @batch.id ) if @batch
      =#FIXME warning: hack below that will break - need to set somewhere else
      %span= f.hidden_field( :offsetting_account, :value => '1104' )
      %span= submit_tag 'Save batch check' unless @batch.finalized
    :javascript
      $('check_number').focus();

  #checks_list
    = render :partial => 'checks_list', :object => @batch.accounting_transactions